.user-info{
    width : 85vw;
    height : 8%;
    background: rgb(30,30,30);
    display: flex;
    align-items: center;
    padding-left: 20px;
    position : absolute;
    top : 0;
    border : 1px solid black;
    color : white;
}
.user-icon{
    width : 45px;
    height : 45px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
    font-size: 25px;
    background-color: orange;
    color : black;

}

.user-name{
    margin-left : 20px;
    font-weight: 700;
    font-size: larger;
}