
.chat{
    height : 100vh;
    width : 85vw;
    margin-left:15vw;
    background-color: rgb(41, 36, 71);
    /* background-image :url("C:/Users/aarvm/Downloads/ff5.png") ; */
    overflow : auto;
}

.outerchat{
    width : 100%;
    padding-top : 5%;
    height : 90%;
    overflow-y: auto;
}
.list{
    list-style: none;
    display : flex;
    flex-direction: column;
    color : rgb(200,200,200);
    /* height : 84%; */
    
}
.chat-messages{
    width : 100%;
    display: flex;
    flex-direction: column;
}
.self{
    background-color: rgb(48, 21, 54);
    color : white;
    max-width : 50%;
    padding : 7px;
    word-wrap:break-word;
    margin-top : 10px;
    border-radius : 10px;
    width:fit-content;
    text-align: left;
    align-self:flex-end;
    margin-right : 25px;
    
}

.other{
    background-color: rgb(23, 37, 68);
    color : white;
    max-width : 50%;
    padding : 7px;
    word-wrap:break-word;
    margin-top : 10px;
    border-radius : 10px;
    width:fit-content;
    text-align: left;
    align-self:flex-start;
}
.self-user{
    align-self: flex-end;
    margin-right : 25px;
    font-size: 15px;
    font-weight: bold;
}

.other-user{
    align-self: flex-start;
    font-size: 15px;
    font-weight: bold;
}
