.selector{
    background-color: rgb(30,30,30);
    position: absolute;
    height : 100vh;
    width : 15vw;
    border : 1px solid black;
    color : white;
    box-sizing: border-box;
    overflow-y: visible;
    
}



.info{
    margin-top : 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.contactnames{
    width : 100%;
    height : 92vh;
    display : flex;
    gap : 5px;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    margin-top: 10px;
    margin-bottom: 10px;
}
.user{
    background-color: rgb(30,30,30);
    width : 97%;
    height : 7vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left : 20px;
    border-radius: 10px;
    /* padding-top : 10px; */
    /* padding-bottom: 10px; */
    word-break: break-all;
    font-size: 20px;
    text-transform: capitalize;
}

.user:hover{
    background-color: rgb(20,20,20);
}


h3{
    margin-top : 10px;
    padding-left : 20px;
    text-transform: capitalize;
}

#addContact{
    height : 50px;
    width : 50px;
    font-size: 25px;
    color : white;
    background: transparent;
    border-radius: 50%;
    margin-left : 30px;
    margin-top: 5px;
    scale : 130%;
    border: none;
    
}


.plus:hover{
    color : rgb(200,200,200);
}

.user-settings{
    padding-top : 5px;
    padding-bottom: 5px;
    background-color: rgb(30,30,30);
    position : absolute;
    width : 200px;
    top : 2%;
    left: 70%;
    height : auto;
    box-shadow: 1px 2px 10px black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transform: translateY(-10px);
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;

}

.user-setting-button{
    height : auto;
    width : 90%;
    /* border: 2px solid black; */
    text-align: left;
    padding-left: 20px;
    border-radius: 5px;
    color : white;
    transition: all 0.2s ease-in;
    padding : 10px;
}

.close{
    opacity: 0;
}

#search-new{
    width : 85%;
    background-color: rgb(40,40,40);
    border-radius: 20px;
    margin-left : 5px;
    padding-left: 10px;
    height : 30px;
    font-size: 15px;
}

#search-new-grp{
    width : 85%;
    background-color: rgb(40,40,40);
    border-radius: 20px;
    margin-left : 5px;
    padding-left: 10px;
    height : 30px;
    font-size: 15px;
}

#search-new-btn{
    width : 5px;
    border : none;
    margin-left : 3px;
    background : none;
}

.search-setting{
    margin-top : 5px;
    margin-bottom: 5px;
    margin-right: 10%;
    margin-left: 5%;
    padding-top : 10px;
    padding-bottom : 10px;
    
}

.users , .groups{
    position : relative;
    margin-top : 10px;
    border-top : 5px solid black;
    padding-top : 10px;
    padding-bottom: 10px;
    
    /* height : auto; */
}

.over{
    overflow: scroll;
    max-height: 40vh;
}

#users-name  {
    position :absolute;
    top : 0;
    left : 5%;
    transform: translateY(-60%);
    background-color : rgb(30,30,30);
    padding-left : 6px;
    padding-right : 6px;
    /* padding-top : 2px; */
    text-transform: uppercase;
    color : rgb(160,160,160);
}

#grps-name{
    position :absolute;
    top : 0;
    left : 5%;
    transform: translateY(-65%);
    background-color : rgb(30,30,30);
    padding-left : 6px;
    padding-right : 6px;
    padding-top : 2px;
    text-transform: uppercase;
    color : rgb(160,160,160);
}