.selector{
    background-color: black;
    position: absolute;
    height : 100vh;
    width : 15vw;
     
    color : white;
    overflow-y: hidden; 
    box-sizing: border-box;
    
}



.info{
    margin-top : 5px;
    display: flex;
    justify-content: space-between;
}
.users{
    width : 100%;
    height : 92vh;
    display : flex;
    gap : 5px;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    margin-top: 10px;
    margin-bottom: 10px;
}
.user{
    background-color: rgb(20,20,20);
    border-radius:2px;
    width : 100%;
    height : 7vh;
    display: flex;
    justify-content: start;
    padding-left : 5px;
    align-items: center;
    padding-top : 10px;
    padding-bottom: 10px;
    word-break: break-all;
}

#addContact{
    border : none
}